<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shout!</title>
  </head>
  <body>
      <h1>Welcome to Shout!</h1>
      <h3>Log in and enjoy dude</h3>
      <form action="/users/login" method="get">
        <input type="text" name="handle" placeholder="handle">
        <input type="text" name="password" placeholder="password">
        <input type="submit" name="submit" value="Log in">
      </form>
      <a href="/signup">Sign up</a>
  </body>
</html>
