
<!DOCTYPE html>
<html>
<head>
	<title>Super Awesome Calculator</title>
</head>
<body>
	<header><h1>Choose what you want to do</h1></header>
	
	<form action="/operation" method="POST">
		<input name="number_one" type="number" value="<%= @memory%>">
		<input name="number_two" type="number">
		<input type="submit" name="operation" value="sum">
		<input type="submit" name="operation" value="rest">
		<input type="submit" name="operation" value="multiply">
		<input type="submit" name="operation" value="divide">
	</form>

	<form action="/memory" method="GET">
		<input type="submit" value="Load from memory">
	</form>
	
</body>
</html>
