
<!DOCTYPE html>
<html>
<head>
	<title>Result!</title>
</head>
<body>
	<h2>The result for the <%= @operation %> between <%= @a %> and <%= @b %> is <%= @res %></h2>

	<h3><a href="/">Go back</a></h3>
</body>
</html>
