
<!DOCTYPE html>
<html>
<head>
	<title>SuperTasker!</title>
</head>
<body>
	<h1>Sign up to have your own tasks here!</h1>
	<form action="/signup" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="submit" value="Sign up">
	</form>
</body>
</html>
