
<!DOCTYPE html>
<html>
<head>
	<title>SuperTasker!</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1>Welcome to the SuperTasker!</h1>

	<form action="/session" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" value="Log out">
	</form>

	<form action="/tasks" method="POST">
		<input class="task-input" type="text" name="description">
		<input type="submit" value="add">
	</form>

	<% if @tasks.any? %>
		<ol>
			<% @tasks.each do |task| %>
			<li>
				<form action="/tasks/<%= task.id %>" method="POST">
						<% if task.done %>
							<input type="hidden" name="_method" value="DELETE">
							<input type="submit" value="X">
							<%= task.print %>
						<% else %>
							<input type="hidden" name="_method" value="PUT">
							<input type="hidden" name="id" value="<%= task.id %>">
							<input type="submit" value="√">
							<%= task.print %>
						<% end %>
					</form>
				</li>
			<% end %>
		</ol>
	<% else %>
		<h3>No tasks yet :(</h3>
	<% end %>

</body>
</html>
